{% extends "layout.html" %}

{% block content %}



<p class="lead">
    เครื่องคอมพิวเตอร์ติดตั้งแล้วเสร็จ {{resultall}} เครื่อง
    <ul>
        <li>หน่วยงานในส่วนกลาง {{center}} เครื่อง</li>
        <li>หน่วยงานในภาค 1 จำนวน {{pak1}} เครื่อง</li>
        <li>หน่วยงานในภาค 2 จำนวน {{pak2}} เครื่อง</li>
        <li>หน่วยงานในภาค 3 จำนวน {{pak3}} เครื่อง</li>
        <li>หน่วยงานในภาค 4 จำนวน {{pak4}} เครื่อง</li>
        <li>หน่วยงานในภาค 5 จำนวน {{pak5}} เครื่อง</li>
        <li>หน่วยงานในภาค 6 จำนวน {{pak6}} เครื่อง</li>
        <li>หน่วยงานในภาค 7 จำนวน {{pak7}} เครื่อง</li>
        <li>หน่วยงานในภาค 8 จำนวน {{pak8}} เครื่อง</li>
        <li>หน่วยงานในภาค 9 จำนวน {{pak9}} เครื่อง</li>
        <li>หน่วยงานในภาค 10 จำนวน {{pak10}} เครื่อง</li>
        <li>หน่วยงานในภาค 11 จำนวน {{pak11}} เครื่อง</li>
        <li>หน่วยงานในภาค 12 จำนวน {{pak12}} เครื่อง</li>
    </ul>
</p>



{% endblock %}